      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Exchange</h1>

        <h2 class="sub-header">Calcuation using Javascript</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Amount</th>
                <th>From</th>
                <th>To</th>
                <th>result</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= text_field_tag "amount", '', placeholder: "0" %></td>
                <td>
                  <%= select_tag "currency_from", options_from_collection_for_select(@rates, 'id', 'currency'), {style: "width=200px"} %>
                </td>
                <td>
                  <%= select_tag "currency_to", options_from_collection_for_select(@rates, 'id', 'currency'), {style: "width=200px"} %>
                </td>
                <td id="result"></td>
                <td><%= link_to "Result", "#", class: 'btn btn-primary', id: "calcuation_with_js" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <script >
        rates = <%= raw @rates.to_json %>;
      </script>