      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Update database Rate</h1>

        <div class="row placeholders">
          <div class=" placeholder">
            <h4>Do you want to update rate?</h4>
            <span><%= link_to "Start", "#", class: 'btn btn-primary', id: "start_update" %></span>
            <p id="status_update"></p>
          </div>
        </div>

        <h2 class="sub-header">Rate</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Currency</th>
                <th>rate</th>
              </tr>
            </thead>
            <tbody>
              <%#= render :partial => "rate_list", :collection => @rates %>
            </tbody>
          </table>
        </div>
      </div>