<!DOCTYPE html>
<html>
<head>
  <title>ExchangeRates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Exchange Rate</a>
        </div>
      </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Exchange with js', root_path %></li>
          <li class="<%= 'active' if current_page?(calculate_path) %>"><%= link_to 'Exchange with ajax', calculate_with_ajax_path %></li>
          <li class="<%= 'active' if current_page?(update_rate_path) %>"><%= link_to "Update Currency", update_rate_path %></a></li>

        </ul>
      </div>

      <%= yield %>
      
    </div>
  </div>

  

</body>
</html>
